1 VERSIONINFO
FILEVERSION 0,0,90,00
PRODUCTVERSION 0,0,90,00
FILEOS 0x4
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "FileDescription", "EGADS Dynamic Library"
		VALUE "FileVersion", "0.90"
		VALUE "InternalName", "EGADS"
		VALUE "OriginalFilename", "egads.DLL"
		VALUE "ProductName", "EGADS"
		VALUE "ProductVersion", "0.90"
		VALUE "LegalCopyright", "Copyright © 2011-2012 MIT. All Rights Reserved."
		VALUE "Comment", "Copyright 2011-2012 MIT. All rights reserved."
	}
}

BLOCK "VarFileInfo"
{
    VALUE "Translation", 0x0409, 1252
}

}
